@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Yeseva+One&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 56%; } }

body {
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #f9f5c0;
  line-height: 1.5; }

h1,
h2 {
  font-family: "Yeseva One", cursive;
  letter-spacing: 0.05rem; }

h3 {
  font-family: "Yeseva One", cursive; }

::selection {
  color: #f9f5c0;
  background: #340057; }

@keyframes productReveal {
  0% {
    transform: translateX(30%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes btnReveal {
  0% {
    transform: translateY(2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes productTitleReveal {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

button {
  border: none;
  background: none;
  border-radius: 5rem; }

.btn-main {
  padding: 1.5rem 2.3rem;
  width: 17rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  z-index: 3;
  background: linear-gradient(to right bottom, #f4d37f, #f9f5c0);
  color: #2d1600;
  transition: all 0.2s ease;
  box-shadow: -0.3rem -0.2rem 0.4rem rgba(250, 223, 188, 0.3), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
  animation: btnReveal 2s ease-in-out; }
  .btn-main:hover {
    transform: scale(1.07) translateY(-0.2rem);
    box-shadow: -0.5rem -0.4rem 1rem rgba(250, 223, 188, 0.3), 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.2); }
  .btn-main:active {
    transform: scale(1) translateY(0);
    box-shadow: -0.3rem -0.2rem 0.4rem rgba(250, 223, 188, 0.3), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }

.addToCart {
  background: #2b9918;
  color: white; }

.for_slick_slider {
  display: flex;
  height: 55rem;
  align-items: center;
  position: relative;
  justify-content: space-around; }
  @media only screen and (max-width: 64em) {
    .for_slick_slider {
      height: 38rem; } }

.for_slick_slider .items {
  width: 20rem;
  margin: 30px; }

.for_slick_slider .items img {
  width: 30rem;
  margin: auto; }
  @media only screen and (max-width: 64em) {
    .for_slick_slider .items img {
      width: 18rem; } }

.slick-center {
  transform: scale(1.2);
  transition: all 1s linear; }

.items {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .items__content {
    opacity: 0;
    transform: translateY(-4rem);
    visibility: hidden; }
    @media only screen and (max-width: 64em) {
      .items__content {
        transform: translateY(-1.5rem); } }
  .items__title {
    color: #340057;
    font-size: 1.8rem; }
  .items__prg {
    color: #340057;
    font-size: 1rem;
    padding: 1rem 0 2rem;
    width: 20rem;
    margin: auto;
    line-height: 1.4; }

.slick-center .items__content {
  opacity: 1;
  visibility: visible; }

.slick-arrow {
  color: #340057;
  height: 5rem;
  width: 5rem;
  background: none;
  border: 1px solid #340057;
  position: absolute;
  top: 30%;
  border-radius: 50%;
  z-index: 9; }

.slick-prev {
  right: 5rem;
  cursor: pointer; }
  @media only screen and (max-width: 64em) {
    .slick-prev {
      right: 2rem; } }
  @media only screen and (max-width: 30em) {
    .slick-prev {
      right: 1rem; } }
  .slick-prev span:before {
    content: "";
    position: absolute;
    top: 42%;
    right: 37%;
    height: 2px;
    width: 10px;
    transform: rotate(45deg);
    background-color: #340057; }
  .slick-prev span:after {
    content: "";
    position: absolute;
    bottom: 42%;
    right: 37%;
    height: 2px;
    width: 10px;
    transform: rotate(-45deg);
    background-color: #340057; }

.slick-next {
  left: 5rem;
  cursor: pointer; }
  @media only screen and (max-width: 64em) {
    .slick-next {
      left: 2rem; } }
  @media only screen and (max-width: 30em) {
    .slick-next {
      left: 1rem; } }
  .slick-next span:before {
    content: "";
    position: absolute;
    bottom: 42%;
    left: 37%;
    height: 2px;
    width: 10px;
    transform: rotate(45deg);
    background-color: #340057; }
  .slick-next span:after {
    content: "";
    position: absolute;
    top: 42%;
    left: 37%;
    height: 2px;
    width: 10px;
    transform: rotate(-45deg);
    background-color: #340057; }

.slick-list,
.draggable {
  padding: 2rem !important; }

.slick-dots {
  display: flex;
  position: absolute;
  bottom: -8rem;
  color: #340057;
  border: none;
  width: 100%;
  justify-content: center; }
  @media only screen and (max-width: 64em) {
    .slick-dots {
      transform: translateY(6rem); } }

.slick-dots .slick-active {
  background-color: #f4d37f;
  color: white; }

.slick-dots li {
  margin: 1rem;
  border-radius: 50%; }

.slick-dots li button {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #340057;
  outline: none; }

.header {
  height: 23rem;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #340057;
  margin-top: 6rem;
  animation: productTitleReveal 1s ease; }
  @media only screen and (max-width: 64em) {
    .header {
      margin-top: 5rem;
      height: 18rem; } }

.section-title {
  position: absolute;
  text-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.6);
  left: 50%;
  transform: translateX(-50%);
  color: #2d1600; }
  .section-title:before {
    position: absolute;
    top: 50%;
    left: -4rem;
    content: "";
    height: 1px;
    width: 3rem;
    background-color: #2d1600; }
  .section-title:after {
    position: absolute;
    top: 50%;
    right: -4rem;
    content: "";
    height: 1px;
    width: 3rem;
    background-color: #2d1600; }

.footer__title {
  color: #f9f5c0;
  text-shadow: none;
  margin-top: 5rem; }
  .footer__title:before {
    background-color: #f9f5c0; }
  .footer__title:after {
    background-color: #f9f5c0; }

.machine {
  position: relative;
  margin: 10rem 2rem;
  width: 100%; }
  @media only screen and (max-width: 64em) {
    .machine__one {
      display: none; } }
  .machine__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 26rem;
    background-color: #f4d37f;
    padding: 5rem; }
    @media only screen and (max-width: 64em) {
      .machine__box {
        padding: 1rem; } }
    @media only screen and (max-width: 30em) {
      .machine__box {
        height: 22rem; } }
    .machine__box--content {
      display: flex;
      flex-direction: column; }
    .machine__box--content2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left; }
      @media only screen and (max-width: 30em) {
        .machine__box--content2 {
          width: 56%; } }
  .machine__prg {
    color: #340057;
    font-size: 1.4rem;
    width: 22rem;
    padding: 2rem 0; }
    @media only screen and (max-width: 64em) {
      .machine__prg {
        width: 80%; } }
    @media only screen and (max-width: 30em) {
      .machine__prg {
        width: 100%; } }
  .machine__img {
    position: absolute;
    width: 37rem;
    top: -2rem; }
    @media only screen and (max-width: 30em) {
      .machine__img {
        width: 26rem;
        top: 2rem;
        left: -3.4rem; } }
    .machine__img[src*="1.png"] {
      right: 0;
      width: 40rem; }

.purple-box {
  background-color: #55316e;
  align-items: flex-end; }

.light-prg {
  color: #f9f5c0; }

.product {
  width: 80%;
  margin: 8rem auto 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between; }
  .product:last-of-type {
    padding-bottom: 10rem; }
  @media only screen and (max-width: 64em) {
    .product {
      width: 90%;
      flex-direction: column;
      align-items: center; } }
  .product__images {
    width: 50%;
    display: flex;
    justify-content: center; }
    .product__images img {
      border: 1px solid #f4d37f;
      padding: 1rem 7rem; }
      @media only screen and (max-width: 90em) {
        .product__images img {
          padding: 1rem 4rem; } }
  .product__info {
    width: 50%;
    position: relative;
    color: #340057;
    margin: 8rem 0 8rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    .product__info--title {
      width: 20rem;
      position: relative;
      color: #340057;
      left: 4rem;
      transform: none; }
    .product__info p {
      border-bottom: 1px solid #f4d37f;
      padding: 3rem 0;
      width: 85%;
      color: #7100bd; }
      @media only screen and (max-width: 64em) {
        .product__info p {
          width: 100%; } }
    .product__info--price {
      width: 9rem;
      position: relative;
      color: #340057;
      padding: 2rem 0;
      left: 4rem;
      transform: none; }

.footer {
  position: relative;
  width: 100vw;
  min-height: 60rem;
  background-color: #340057;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 90em) {
    .footer {
      min-height: 55rem; } }
  .footer__title {
    margin-top: 3rem; }
  .footer__container {
    width: 80%;
    margin: auto;
    display: block; }
    @media only screen and (max-width: 64em) {
      .footer__container {
        width: 90%; } }
    @media only screen and (max-width: 30em) {
      .footer__container {
        height: 65rem; } }
  .footer__contact {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 64em) {
      .footer__contact {
        justify-content: flex-start; } }
    @media only screen and (max-width: 30em) {
      .footer__contact {
        justify-content: space-between;
        width: 100%;
        margin-top: 10rem; } }
    .footer__contact--item {
      display: flex;
      margin-right: 4rem;
      width: 30rem; }
      @media only screen and (max-width: 64em) {
        .footer__contact--item {
          flex-direction: column;
          align-items: center;
          width: auto; } }
      @media only screen and (max-width: 30em) {
        .footer__contact--item {
          margin-right: 0; } }
      @media only screen and (max-width: 90em) {
        .footer__contact--item img {
          width: 4rem; } }
      @media only screen and (max-width: 30em) {
        .footer__contact--item img {
          width: 6rem;
          margin-bottom: 0.5rem; } }
    .footer__contact--item-content {
      padding-left: 2rem; }
      @media only screen and (max-width: 64em) {
        .footer__contact--item-content {
          padding-left: 0;
          font-size: 1.3rem;
          padding-top: 0.5rem; } }
      .footer__contact--item-content p {
        font-size: 1.3rem;
        padding-top: 0.5rem; }
        @media only screen and (max-width: 90em) {
          .footer__contact--item-content p {
            font-size: 1.2rem;
            padding-top: 0.2rem; } }
        @media only screen and (max-width: 64em) {
          .footer__contact--item-content p {
            display: none; } }
  .footer__details {
    display: flex;
    margin-top: 7rem;
    align-items: flex-start;
    justify-content: space-between; }
    .footer__details h3 {
      margin-bottom: 1rem; }
    .footer__details a {
      font-size: 1.3rem; }
  .footer__sitemap {
    width: 30rem; }
    @media only screen and (max-width: 90em) {
      .footer__sitemap {
        width: 25rem; } }
    @media only screen and (max-width: 30em) {
      .footer__sitemap {
        width: 20rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10rem;
        text-align: center; }
        .footer__sitemap h3 {
          display: none; } }
    .footer__sitemap ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 12rem; }
    .footer__sitemap ul li {
      padding: 0.8rem 0; }
  .footer__paymethods {
    text-align: center; }
    @media only screen and (max-width: 30em) {
      .footer__paymethods {
        display: none; } }
    .footer__paymethods img {
      width: 35rem; }
      @media only screen and (max-width: 90em) {
        .footer__paymethods img {
          width: 25rem; } }
  .footer__social {
    width: 30rem; }
    @media only screen and (max-width: 90em) {
      .footer__social {
        width: 25rem; } }
    @media only screen and (max-width: 64em) {
      .footer__social {
        position: absolute;
        right: -2rem;
        top: 13rem; } }
    @media only screen and (max-width: 30em) {
      .footer__social {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        top: 25rem;
        width: 100%; } }
    .footer__social img {
      width: 27%;
      padding-right: 3rem; }
      @media only screen and (max-width: 30em) {
        .footer__social img {
          padding: 0 2rem;
          width: 20%; } }

.copyright {
  position: absolute;
  bottom: 0;
  background-color: #2d1600;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  height: 5rem; }
  @media only screen and (max-width: 64em) {
    .copyright {
      width: 90%; } }
  @media only screen and (max-width: 30em) {
    .copyright p {
      text-align: center;
      margin: auto; } }
  .copyright img {
    width: 10rem; }
    @media only screen and (max-width: 30em) {
      .copyright img {
        display: none; } }
  .copyright:before {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #2d1600;
    width: 100%;
    content: ""; }
  .copyright:after {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    background-color: #2d1600;
    width: 100%;
    content: ""; }

.hero {
  position: relative;
  height: calc(100vh - 8rem);
  background-image: linear-gradient(to left top, #7e4a0b, 30%, #000000);
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    .hero {
      height: 80rem; } }
  .hero__img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%; }
    @media only screen and (max-width: 64em) {
      .hero__img1 {
        width: 62%; } }
    @media only screen and (max-width: 30em) {
      .hero__img1 {
        display: none; } }
  .hero__img2 {
    position: absolute;
    right: 10rem;
    width: 40%;
    top: 20%;
    animation: productReveal 2s ease-in-out; }
    @media only screen and (max-width: 90em) {
      .hero__img2 {
        right: 4rem; } }
    @media only screen and (max-width: 64em) {
      .hero__img2 {
        display: none; } }
  .hero__img3 {
    position: relative;
    width: 100vw;
    display: block; }
    @media only screen and (max-width: 64em) {
      .hero__img3 {
        width: 157vw; } }
    @media only screen and (max-width: 30em) {
      .hero__img3 {
        width: 200vw; } }
  .hero__splash {
    position: absolute;
    bottom: 0; }
    .hero__splash--title {
      position: absolute;
      bottom: 10%;
      left: 50%; }
      @media only screen and (max-width: 64em) {
        .hero__splash--title {
          left: 37%; } }
      @media only screen and (max-width: 30em) {
        .hero__splash--title {
          left: 25%; } }
  .hero__content {
    width: 50rem;
    height: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    @media only screen and (max-width: 64em) {
      .hero__content {
        align-items: flex-end;
        width: 92%;
        height: 60rem; } }
    @media only screen and (max-width: 30em) {
      .hero__content {
        align-items: center;
        justify-content: center; } }
    .hero__content--heading {
      font-size: 8.2rem;
      margin-top: 15rem;
      color: #f4d37f;
      z-index: 5;
      line-height: 1.05; }
      @media only screen and (max-width: 64em) {
        .hero__content--heading {
          text-align: right;
          width: 40rem;
          font-size: 6.2rem;
          margin-top: 18rem; } }
      @media only screen and (max-width: 30em) {
        .hero__content--heading {
          text-align: center;
          font-size: 5rem;
          width: 30rem;
          padding-bottom: 2rem; } }
    .hero__content span {
      height: 0.1rem;
      width: 7rem;
      background-color: #f4d37f;
      margin: 2rem 0 3.5rem 0; }
      @media only screen and (max-width: 30em) {
        .hero__content span {
          display: none; } }

.minus {
  height: 2px;
  width: 10px;
  background-color: #2d1600;
  content: "";
  position: absolute;
  left: 2rem; }
  .minus:after {
    width: 2px;
    height: 10px;
    background-color: #2d1600;
    content: "";
    position: absolute;
    left: 0.4rem;
    top: -0.4rem; }
    @media only screen and (max-width: 30em) {
      .minus:after {
        left: 0.45rem; } }

header {
  background: #340057;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 99; }

.nav {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: auto; }
  @media only screen and (max-width: 64em) {
    .nav {
      height: 5rem; } }
  @media only screen and (max-width: 64em) {
    .nav {
      flex-direction: row-reverse;
      max-width: 92%;
      justify-content: flex-end; } }
  .nav__logo {
    display: flex;
    align-items: center;
    margin-right: 8rem; }
    @media only screen and (max-width: 64em) {
      .nav__logo {
        width: 86%;
        justify-content: center;
        margin-right: 6rem; } }
    .nav__logo--link {
      z-index: 99; }
    .nav__logo img {
      width: 14rem;
      display: flex;
      align-items: center;
      z-index: 999; }
      @media only screen and (max-width: 64em) {
        .nav__logo img {
          width: 10rem; } }
  .nav__list {
    display: flex;
    position: relative;
    align-self: stretch; }
    @media only screen and (max-width: 64em) {
      .nav__list {
        display: none; } }
    .nav__list:hover ~ .nav__bg {
      opacity: 1;
      visibility: visible; }
    .nav__list--sublist {
      position: absolute;
      top: 100%;
      background-color: #340057;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
      visibility: hidden;
      transition: all 0.3s ease;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      z-index: 99; }
  .nav__item {
    width: 15rem;
    cursor: pointer; }
    .nav__item:hover .nav__list--sublist {
      visibility: visible;
      height: 10rem; }
    .nav__item:hover .nav__link span:before {
      transform: rotate(135deg) translate(0rem, -0.7rem);
      background-color: #340057; }
    .nav__item:hover span:after {
      transform: rotate(-135deg);
      background-color: #340057; }
    .nav__item:hover .nav__item--subitem {
      visibility: visible;
      height: 4rem;
      opacity: 1; }
    .nav__item--subitem {
      visibility: hidden;
      opacity: 0;
      height: 0;
      color: #f4d37f;
      transition: all 0.2s ease; }
    .nav__item--sublink {
      display: flex;
      align-self: stretch;
      width: 15rem;
      padding: 1rem 4rem;
      transition: all 0.2s; }
      .nav__item--sublink:hover {
        background-color: #f4d37f;
        color: #340057; }
    .nav__item:hover, .nav__item:active {
      background-color: #f4d37f;
      color: #340057; }
  .nav__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__link span {
      padding-left: 1rem; }
    .nav__link span:before {
      position: absolute;
      content: "";
      top: 44%;
      height: 2px;
      width: 8px;
      transform: rotate(45deg);
      background-color: #f9f5c0;
      transition: all 0.2s; }
    .nav__link span:after {
      position: absolute;
      content: "";
      bottom: 44%;
      transform: rotate(135deg);
      height: 2px;
      width: 8px;
      background-color: #f9f5c0;
      transition: all 0.2s; }
  .nav__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20rem; }
    @media only screen and (max-width: 64em) {
      .nav__icons {
        width: 7rem; } }
    @media only screen and (max-width: 30em) {
      .nav__icons {
        justify-content: flex-start; } }
    .nav__icons--search {
      cursor: pointer;
      width: 1.9rem; }
      @media only screen and (max-width: 30em) {
        .nav__icons--search {
          display: none; } }
    .nav__icons--bag {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center; }
      .nav__icons--bag img {
        width: 1.9rem; }
      .nav__icons--bag span {
        color: #340057;
        font-size: 1.2rem;
        position: absolute;
        top: -0.7rem;
        right: -1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f4d37f;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%; }
  .nav__bg {
    position: fixed;
    top: 6rem;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: all 0.6s ease;
    z-index: 10;
    visibility: hidden; }

.mobnav {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    .mobnav {
      display: block; } }
  .mobnav__checkbox {
    position: absolute;
    right: 4rem;
    display: none; }
  .mobnav__checkbox:checked ~ .mobnav__background {
    opacity: 1;
    visibility: visible; }
  .mobnav__background {
    position: fixed;
    opacity: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.6s;
    visibility: hidden;
    z-index: 999; }
  .mobnav__icon {
    position: relative; }
    .mobnav__icon, .mobnav__icon::before, .mobnav__icon::after {
      width: 2.5rem;
      height: 0.35rem;
      border-radius: 3rem;
      background-color: #f9f5c0;
      display: flex;
      justify-content: flex-end;
      top: 1.3rem; }
    .mobnav__icon::before, .mobnav__icon::after {
      position: absolute;
      content: "";
      transition: all 0.3s ease; }
    .mobnav__icon::before {
      top: -0.8rem; }
    .mobnav__icon::after {
      top: 0.8rem;
      width: 1.8rem; }
  .mobnav__button {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 4rem;
    z-index: 9999;
    height: 3rem; }
    @media only screen and (max-width: 64em) {
      .mobnav__button {
        display: block; } }
    @media only screen and (max-width: 30em) {
      .mobnav__button {
        right: 2rem; } }
  .mobnav__button:hover .mobnav__icon::before {
    top: -1rem; }
  .mobnav__button:hover .mobnav__icon::after {
    top: 1rem; }
  .mobnav__checkbox:checked + .mobnav__button .mobnav__icon {
    background-color: transparent; }
  .mobnav__checkbox:checked + .mobnav__button .mobnav__icon::before {
    top: 0;
    width: 3rem;
    transform: rotate(135deg);
    background-color: #2d1600; }
  .mobnav__checkbox:checked + .mobnav__button .mobnav__icon::after {
    top: 0;
    width: 3rem;
    transform: rotate(-135deg);
    background-color: #2d1600; }
  .mobnav__toggle:checked + .mobnav__sublist {
    height: 10rem;
    opacity: 1; }
  .mobnav__toggle:checked + .mobnav__sublist > .mobnav__subitem {
    height: 5rem;
    opacity: 1; }
  .mobnav__nav {
    height: 100vh;
    background: #fdfcef;
    overflow-x: scroll;
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
    float: right;
    width: 40%;
    position: fixed;
    right: 0;
    z-index: 999; }
    @media only screen and (max-width: 30em) {
      .mobnav__nav {
        width: 70%; } }
  .mobnav__list {
    text-align: center;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10rem 0; }
    @media only screen and (max-width: 64em) {
      .mobnav__list {
        display: flex; } }
  .mobnav__item {
    border-top: 1px solid #f4d37f; }
    .mobnav__item:not(:first-of-type) {
      padding: 1.5rem 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 3rem;
      color: #340057; }
    .mobnav__item:last-child {
      border-bottom: 2px solid #340057; }
    .mobnav__item--toggle,
    .mobnav__item [id^="drop"] {
      width: 100%;
      cursor: pointer;
      color: #340057;
      align-items: center;
      padding: 1.8rem 3rem; }
    .mobnav__item [id^="drop"] {
      display: none;
      opacity: 0; }
    .mobnav__item--toggle {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse; }
      .mobnav__item--toggle:hover {
        background-color: #f4d37f; }
  .mobnav__sublist {
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-in-out; }
  .mobnav__subitem {
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-in-out; }
    .mobnav__subitem a {
      width: 100%;
      height: 100%;
      display: flex;
      color: #340057;
      align-items: center;
      justify-content: flex-end;
      padding-right: 3rem;
      cursor: pointer; }
    .mobnav__subitem:hover {
      background-color: rgba(52, 0, 87, 0.2); }
  .mobnav__checkbox:checked ~ .mobnav__nav {
    transform: translateX(0);
    box-shadow: 0 2rem 3rem rgba(4, 35, 59, 0.835); }

.machines {
  margin-top: 11rem;
  min-height: 40rem;
  width: 100vw; }
  .machines__container {
    display: flex;
    width: 81%;
    margin: auto;
    justify-content: space-between; }
    @media only screen and (max-width: 64em) {
      .machines__container {
        width: 95%;
        margin-top: 17rem; } }
    @media only screen and (max-width: 30em) {
      .machines__container {
        width: 98%; } }

.video {
  margin-bottom: 5rem;
  width: 100%; }
  .video__container {
    display: block;
    width: 40%;
    margin: auto; }
    @media only screen and (max-width: 64em) {
      .video__container {
        width: 90%; } }

.coffee {
  min-height: 100vh;
  width: 100vw;
  top: 0; }

.page-title {
  font-size: 6rem;
  color: #f9f5c0;
  text-shadow: none;
  max-width: 100%; }
  @media only screen and (max-width: 64em) {
    .page-title {
      font-size: 4rem; } }
  .page-title:before, .page-title:after {
    background-color: #f9f5c0; }

.cart {
  min-height: 100vh;
  width: 100vw;
  color: #340057; }
  .cart__item {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem auto;
    border-bottom: 1px solid #f4d37f;
    padding-bottom: 5rem; }
    .cart__item--img {
      width: 20%; }
    .cart__item--container {
      width: 30rem;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .cart__item--price {
      color: #7100bd; }
    .cart__item--quantity {
      width: 30rem;
      height: 10rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between; }
      .cart__item--quantity span {
        display: flex;
        align-items: center;
        flex-direction: column; }
        .cart__item--quantity span:after, .cart__item--quantity span:before {
          content: "";
          width: 1rem;
          height: 1rem;
          transform: rotate(45deg);
          cursor: pointer; }
        .cart__item--quantity span:after {
          border-right: 2px solid brown;
          border-bottom: 2px solid brown; }
        .cart__item--quantity span:before {
          border-left: 2px solid brown;
          border-top: 2px solid brown; }
    .cart__item--remove {
      width: 30rem;
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .cart__item--remove img {
        width: 5rem;
        cursor: pointer; }
