$pri: #340057;
$sec: #f9f5c0;
$ter: #f4d37f;
$dark: #2d1600;
$green: rgb(43, 153, 24);
$gra1: linear-gradient(to right bottom, #f4d37f, #f9f5c0);
$gra2: linear-gradient(to left top, #4d2a00, 20%, #000000);
//fonts
$font1: "Montserrat", sans-serif;
$font2: "Yeseva One", cursive;

//shadows

$sha: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
