$pri: #413422;
$sec: #f9f5c0;
$ter: #f4d37f;
$dark: #2d1600;
$gra1: linear-gradient(to right bottom, #f4d37f, #f9f5c0);
$gra2: linear-gradient(to left top, #7e4a0b, 30%, #000000);
$gra3: linear-gradient(to right, #185804, 30%, #36d686);
//fonts
$font1: "Montserrat", sans-serif;
$font2: "Yeseva One", cursive;

//shadows

$sha: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
