.hero {
  position: relative;
  height: calc(100vh - 10rem);
  background-image: $gra2;
  overflow: hidden;

  @include respond(tab) {
    height: 80rem;
  }

  &__img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;

    @include respond(tab) {
      width: 70%;
      top: 5rem;
    }

    @include respond(phone) {
      width: 85%;
    }
  }

  &__img2 {
    position: absolute;
    right: 10rem;
    width: 40%;
    top: 25%;
    animation: productReveal 2s ease-in-out;

    @include respond(laptop) {
      right: 4rem;
    }

    @include respond(tab) {
      display: none;
    }
  }

  &__img3 {
    position: relative;
    width: 100vw;
    display: block;

    @include respond(tab) {
      width: 157vw;
      transform: translateX(-10%);
    }

    @include respond(phone) {
      width: 200vw;
    }
  }

  &__splash {
    position: absolute;
    bottom: 0;
    z-index: 0;

    &--title {
      position: absolute;
      bottom: 13%;
      left: 50%;
      color: $sec;
      text-shadow: 0 -0.3rem 1rem rgba(black, 0.5);

      &:after,
      &:before {
        background-color: $sec;
      }

      @include respond(laptop) {
        bottom: 11%;
      }

      @include respond(tab) {
        left: 32%;
      }

      @include respond(phone) {
        left: 25%;
        letter-spacing: none;
        font-size: 2rem;
      }
    }
  }

  &__content {
    width: 50rem;
    height: 100%;
    display: flex;
    text-align: left;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include respond(tab) {
      align-items: flex-end;
      width: 92%;
      height: 60rem;
    }

    @include respond(phone) {
      align-items: center;
      justify-content: center;
    }

    &--heading {
      font-size: 6rem;
      margin: 30rem 10rem 0 0;
      color: $ter;
      z-index: 5;
      line-height: 1.05;

      @include respond(tab) {
        text-align: right;
        width: 40rem;
        margin: 25rem 0 0 0;
        font-size: 5.3rem;
      }
      @include respond(phone) {
        text-align: center;
        font-size: 4.7rem;
        width: 30rem;
        padding-bottom: 2rem;
      }
    }

    & span {
      height: 0.1rem;
      width: 7rem;
      background-color: $ter;
      margin: 2rem 0 3.5rem 0;

      @include respond(phone) {
        display: none;
      }
    }
  }
}
