.product {
  width: 80%;
  margin: 2rem auto 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 3rem 0;

  &:last-of-type {
    margin-bottom: 10rem;
  }

  @include respond(tab) {
    width: 90%;
    flex-direction: column;
    align-items: center;
    border: 1px solid $pri;
  }

  &__images {
    width: 40%;
    display: flex;
    justify-content: center;

    & img {
      border: 1px solid $ter;
      padding-top: 3rem;
      border-radius: 3rem;
      background-color: $light;
    }
  }

  &__info {
    width: 50%;
    position: relative;
    color: $pri;
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include respond(tab) {
      width: 100%;
      margin: auto;
      align-items: center;
    }

    @include respond(phone) {
      line-height: 1.4;
    }

    &--title {
      max-width: 100%;
      position: relative;
      color: $pri;
      left: 4rem;
      transform: none;

      @include respond(tab) {
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
      }

      @include respond(phone) {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    & p {
      border-bottom: 1px solid $ter;
      padding: 3rem 0;
      width: 85%;
      color: lighten($pri, 20%);

      @include respond(tab) {
        padding: 7rem 0 2rem 0;
        text-align: center;
      }
    }

    &--price {
      min-width: 9rem;
      position: relative;
      color: $pri;
      padding: 2rem 0;
      left: 4rem;
      transform: none;

      @include respond(tab) {
        left: 0;
        min-width: 15%;
        text-align: center;
      }

      @include respond(phone) {
        width: 40%;
      }
    }
  }
}
