.product {
  width: 80%;
  margin: 8rem auto 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;

  &:last-of-type {
    padding-bottom: 10rem;
  }

  @include respond(tab) {
    width: 90%;
    flex-direction: column;
    align-items: center;

    &:not(:last-of-type) {
      padding-bottom: 3rem;
    }
  }

  &__images {
    width: 50%;
    display: flex;
    justify-content: center;

    & img {
      border: 1px solid $ter;
      padding-top: 3rem;
    }
  }

  &__info {
    width: 50%;
    position: relative;
    color: $pri;
    margin: 8rem 0 8rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include respond(tab) {
      width: 100%;
      margin: auto;
      align-items: center;
    }

    &--title {
      width: 20rem;
      position: relative;
      color: $pri;
      left: 4rem;
      transform: none;

      @include respond(tab) {
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    & p {
      border-bottom: 1px solid $ter;
      padding: 3rem 0;
      width: 85%;
      color: lighten($pri, 20%);

      @include respond(tab) {
        padding: 7rem 0 2rem 0;
        text-align: center;
      }
    }

    &--price {
      width: 9rem;
      position: relative;
      color: $pri;
      padding: 2rem 0;
      left: 4rem;
      transform: none;

      @include respond(tab) {
        left: 0;
      }
    }
  }
}
