.header {
  height: 20rem;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: $pri;
  margin-top: 6rem;
  animation: productTitleReveal 1s ease;

  @include respond(tab) {
    margin-top: 5rem;
    height: 16rem;
  }

  @include respond(phone) {
    height: 12rem;
  }
}

.section-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $dark;

  &:before {
    position: absolute;
    top: 50%;
    left: -4rem;
    content: "";
    height: 1px;
    width: 3rem;
    background-color: $dark;
  }

  &:after {
    position: absolute;
    top: 50%;
    right: -4rem;
    content: "";
    height: 1px;
    width: 3rem;
    background-color: $dark;
  }
}

.footer__title {
  color: $sec;
  text-shadow: none;
  margin-top: 5rem;

  &:before {
    background-color: $sec;
  }
  &:after {
    background-color: $sec;
  }
}

.page-title {
  font-size: 5rem;
  color: $sec;
  text-shadow: none;
  max-width: 100%;

  @include respond(tab) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }

  &:before,
  &:after {
    background-color: $sec;
  }
}
