@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Yeseva+One&display=swap");

body {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: $font1;
  color: $sec;
}

h1,
h2,
h3 {
  font-family: $font2;
  letter-spacing: 0.05rem;
}

::selection {
  color: $sec;
  background: $pri;
}
